
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Rubik:wght@300;400;500;600&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0 !important;
}

body,
#app {
  overflow: hidden !important;
}

/* Layout */

.page {
  color: white;
  width: 100%;
  margin: 0 auto;
  max-width: 1680px;
  margin-bottom: 12rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  transition: all 0.7s;
}

/* Buttons */

button#return-home, button.return-home-up, button#skip-intro {
  position: absolute;
  border: 0;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  background-color: transparent;
  background-image: url("assets/images/icons/down-icon.png");
  background-repeat: no-repeat;
  transition: all .3s;
}
button#return-home, button.return-home-up {
  background-color: #846b63;
  background-size: 3rem;
  background-position: center;
  border-radius: 1rem;
}

button.return-home-up {
  padding: 0 !important;
  background-image: url("assets/images/icons/up-icon.png");
  right: 5.75rem;
  top: 8rem;
  opacity: 0;
  visibility: hidden;
}
button.return-home-up:hover {
  right: 4.75rem;
  top: 7rem;
}

button#skip-intro {
  left: 11vw;
  top: 2rem;
  z-index: 100;
  background-image: url("assets/images/icons/skip-icon.png");
}

button#return-home {
  left: 7rem;
  top: 0;
}

button#return-home:hover, button.return-home-up:hover, button#skip-intro:hover {
  border: 2px dashed #846B63;
  padding: 1rem;
  height: 6rem;
  width: 6rem;
  background-position: center;
  border-radius: 1rem;
}
button#skip-intro:hover {
  left: calc(11vw - 1rem);
  top: 1rem;
}
button#return-home:hover {
  left: 6rem;
  top: -1rem;
}


@keyframes fade-in {
  0% {
      opacity: 0;
      color: transparent;
      text-shadow: 0 0 45px rgba(0,0,0,0.5);
  }
  50% {
      color: transparent;
      text-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
  100% {
      opacity: 1;
      color: #3C3C3C;
      text-shadow: none;
  }
}
@keyframes fade-out {
  0% {
      color: #3C3C3C;
      text-shadow: none;
  }
  100% {
      color: transparent;
      text-shadow: 0 0 45px rgba(0,0,0,0.5);
  }
}